In [7]:
import nltk
import pandas as pd

In [8]:
nombres_df = pd.read_csv('name_gender_dataset.csv')

Data exploration

In [9]:
nombres_df.shape

(147269, 4)

In [10]:
nombres_df.head(5)

      Name Gender    Count  Probability
0    James      M  5304407     0.014517
1     John      M  5260831     0.014398
2   Robert      M  4970386     0.013603
3  Michael      M  4579950     0.012534
4  William      M  4226608     0.011567

Data cleaning

In [11]:
nombres_df = nombres_df.drop(['Count'], axis=1)
nombres_df = nombres_df.drop(['Probability'], axis=1)

nombres_df.head(5)

      Name Gender
0    James      M
1     John      M
2   Robert      M
3  Michael      M
4  William      M

In [12]:
nombres_df = nombres_df[['Gender','Name']]

nombres_df.head(5)

  Gender     Name
0      M    James
1      M     John
2      M   Robert
3      M  Michael
4      M  William

In [13]:
#procesador textos --> para quitar puntuación y palabras no importantes
#sería el DATA CLEANING

import string

In [14]:
#para sacar las palabras no importantes

nltk.download('stopwords')

from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [15]:
def procesar_texto(cadena):
    sinpunt = [c for c in cadena if c not in string.punctuation]
    sinpunt = ''.join(sinpunt)
    palabras = sinpunt.split()
    cadena_cleaned = [palabra for palabra in palabras if palabra.lower() not in stopwords.words('spanish')]
    return cadena_cleaned

In [16]:
#aplicaremos la función sobre df

nombres_df['Name'].head(5).apply(procesar_texto)

0      [James]
1       [John]
2     [Robert]
3    [Michael]
4    [William]
Name: Name, dtype: object

In [17]:
# tengo que imporar módulos de ML

from sklearn.feature_extraction.text import TfidfTransformer
# tranformador de los mensajes.

from sklearn.ensemble import RandomForestClassifier
# algoritmo de clasificacion

from sklearn.model_selection import train_test_split
# dividir los datos de entrenamiento y test

from sklearn.pipeline import Pipeline
# para ejecutar operaciones simultaneamente

from sklearn.metrics import classification_report
# para hacer el informa de clasificacion de este algoritmo

In [18]:
# PRIMERO : dividir nombres de entrenamiento y nombres de prueba, con etiquetas

# genero cuatro variables correspondietnes 

nom_entr, nom_pru, etq_entr, etq_pru = train_test_split(nombres_df['Name'], nombres_df['Gender'], test_size=0.3)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

transformador = CountVectorizer().fit(nombres_df['Name'])

In [20]:
pipeline = Pipeline([
    ('vectorizar', CountVectorizer(analyzer=procesar_texto)),
    ('transformar', TfidfTransformer()),
    ('clasificar', RandomForestClassifier())
])

In [ ]:
# SEGUNDO : entrenar el pipeline con los nombres de entrenamiento

pipeline.fit(nom_entr, etq_entr)

In [ ]:
# TERCERO : una vez entrenado el sistema, lo pruebo en sus predicciones

predicciones = pipeline.predict(nom_pru)

In [ ]:
# CUARTO : informe de prueba

print(classification_report(etq_pru, predicciones))